{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <!-- Post Filter -->
    <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="new events">New Events</span>
        <span class="filter-item" data-filter="courses">Courses</span>
    </div>

    <!-- Posts -->
    <section class="post container">
        {% for post in posts %}

        <!-- Post Box 1 -->
            <div class="post-box ">

                <img src="{{post.image_url}}"
                    alt="{{ post.slug }}" class="post-img">
                <h2 class="category">{{ post.category }}</h2>

                <!-- Link to the article -->
                {% if request.user.is_authenticated %}
                    <a href="{% url 'details post' slug=post.slug %}" class="post-title">{{ post.title }}</a>
                {% else %}
                    <a class="post-title">{{ post.title }}</a>
                {% endif %}

                <p class="post-description">{{ post.body|slice:':100'}}</p>
                <a href="{% url 'details post' slug=post.slug %}" class="btn btn-primary">Read More &rarr;</a>

{#            <!-- Profile -->#}
{#                {% include 'base/partials/author_info.html' with post=post user=request.user%}#}
            </div>
        {% endfor %}
    </section>
    {% block bottombar %}
    {% include 'base/bottombar.html' %}
    {% endblock bottombar %}
{% endblock %}