{% block bottombar%}

<!-- Info Column -->
<div class="col-md-4 float-right ">
  <div class="card1">
      {% for info in info_app %}
        <h3 class="card1-header">{{ info.title }}</h3>
        <div class="card1-body">
            <p class="card1-text"> {{ info.body}} </p>
            <a href="#" class="btn btn-web">Visit Demo Website!</a>
                <br>
            <a href="#" class="btn btn-web">GitHub Docs</a>
        </div>
      {% endfor %}
  </div>
</div>

{% endblock bottombar %}