{% block bottombar%}

<!-- Info Column -->
<div class="col-md-4 float-right ">
  <div class="card1 my-4">
    <h5 class="card1-header">About</h5>
    <div class="card1-body">
      <p class="card1-text"> My Blog App is created using Django Web Framework for backend side, designed with bootswatch
        theme for UI - you can also visit my website ... </p>
      <a href="#" class="btn btn-danger">Visit Website!</a>
      <a href="#" class="btn btn-secondary">Django Docs</a>
    </div>
  </div>
</div>

{% endblock bottombar %}