{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <!-- Start Delete Profile Section -->
        <div class="delete-profile">
            <br><br>
            <h1>
                Are you sure you want to delete your profile?
            </h1>
            <div class="sure-buttons">
                <form method="post" action="{% url 'delete user' pk=request.user.pk %}">
                    <br>
                    <button>Yes</button>
                    {% csrf_token %}
                </form>
                <br>
                <p>
                    <a href="{% url 'details user' pk=object.pk %}" class="back-home"><button>Go Back</button></a>
                </p>
            </div>
        </div>

{% endblock %}