{% extends 'base/base.html' %}

{% load static %}
{% block page_content %}

    <div class="profile1">
        <!-- Profile -->
        <div class="profile1-data">
            <div class="profile1-img">
                <div class="image">
                    <img src="{{object.profile.profile_image}}"
                         alt="{{ object.profile.full_name }}" class="profile1-img" >
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    {% if is_owner   %}
                        <a href="{% url 'edit user' pk=object.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}"
                             alt="edit button">
                        </a>
                        <a href="{% url 'delete user' pk=object.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}"
                             alt="bin button">
                        </a>
                    {% endif %}
                </div>
                <div class="data">
                    {% if request.user.is_staff%}
                    <!-- Total Number of Articles by the User -->
                        {% if user_article.user_article_counts <= 1 %}
                            <p>Article: {{ user_article_counts }}</p>
                        {% else %}
                            <p>Articles: {{ user_article_counts }}</p>
                        {% endif %}
                    {% endif %}
                </div>
                {% if object.profile %}
                    <p>{{ object.profile }}</p>
                {% endif %}
                <p class="email">{{ object.email }}</p>
            </div>
        </div>
    </div>
    <div class="articles">
        <br><br>
        {% if user_article %}
            <h2>{{ object.profile }} Articles:</h2>
                <div class="statuses">
                    {% for article in user_article %}
                        <div class="post-box ">
                            <img src="{{article.image_url}}"
                                alt="{{article.slug}}" class="post-img">
                            <h2 class="category">{{ article.category }}</h2>
                            <a href="{% url 'details post' slug=article.slug %}" class="post-title">{{ article.title }}</a>
                            <p class="post-description">{{ article.body|slice:':90' }}</p>
                            <a href="{% url 'details post' slug=article.slug %}" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                    {% endfor %}
                </div>
        {% endif %}
    </div>
{% endblock %}
