{% extends 'base/base.html' %}
{% block page_content %}
    <!-- Start Edit Profile Section -->
    <div class="edit-delete">
    <br/><br/>
        <h2>Edit Profile</h2>

        <form method="post" action="{% url 'edit user' pk=object.pk%}">
            {{ form.as_p }}
            <br/><br/>
            <button class="sure-btn1" type="submit">Update</button>
            <a href="{% url 'index' %}">
                <button class="sure-btn1" type="submit">Back</button>
            </a>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}