{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <!-- Post Content -->
    <section class="edit-delete">
        <div class="header-content post-container">
            <!-- Back to Home -->
            <a href="{% url 'index' %}" class="back-home">Back to Home</a>
            <br/><br/>
            <!-- Title -->
            <h1>Add Article</h1>
            <br/><br/>
            <form method="post" action="{% url 'add post' %}" enctype="multipart/form-data">
                {{ form.as_p }}
                <button class="sure-btn1" type="submit">Add</button>
                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}