{% extends 'base/base.html' %}
{% block page_content %}
<body>
<section class="blogs-section">
    <div class="post-content post-container">

        <h2 class="heading"></h2>
        <h2 class="category">{{ object.category }}</h2>
        <div class="thumbnail">
            <img src="{{ object.post_image }}" alt="{{ object.slug }}" class="img1">
        </div>
<!-- blog section -->

        <div class="blog-card">
{#        <img src="#" class="blog-image" alt="">#}
            <h1 class="blog-title">{{ object.title}}</h1>
            <p class="blog-overview">{{ object.body}}</p>

            <!-- Author Info -->
            {% include 'base/partials/author_info.html' %}

            <div>
                {% if request.user.is_superuser or request.user_group.Editors %}
                    <a href="{% url 'edit post' object.slug %}" class="btn2 grey">Edit</a>
                    <a href="{% url 'delete post' object.slug %}" class="btn2 danger">Delete</a>
                    <a href="{% url 'index' %}" class="btn2 danger">All Articles</a>
                {% endif %}
            </div>
        </div>

    </div>
</section>
</body>

{% endblock page_content %}
