{% extends 'base/base.html' %}
{% load has_group %}
{% block page_content %}
<body>
<section class="blogs-section">
    <div class="post-content post-container">

        <h2 class="heading"></h2>
        <h2 class="category">{{ article.category }}</h2>
        <div class="thumbnail">
            <img src="{{ article.post_image.url }}" alt="{{ article.slug }}" class="img1">
        </div>
        <!-- blog section -->
        <div class="blog-card">
            <h1 class="blog-title">{{ article.title}}</h1>
            <p class="blog-overview">{{ article.body|safe}}</p>
            <br>
            {% include 'base/partials/author_info.html' %}
            <br>
            {% if request.user.is_authenticated %}
                {% include 'base/partials/post_like.html' %}
            {% endif %}

            <div>
                <br/><br/>
                {% if request.user.is_superuser or request.user|has_group:"Editors" %}
                    <a href="{% url 'edit post' object.slug %}" class="btn2 grey">Edit</a>
                    <a href="{% url 'delete post' object.slug %}" class="btn2 danger">Delete</a>
                    <a href="{% url 'index' %}" class="btn2 danger">All Articles</a>

                {% endif %}
            </div>
        </div>
    </div>
</section>
</body>

{% endblock page_content %}
