{% extends 'base/base404/base_error_files.html' %}

{% load static %}

{% block page_error_content %}

    <!-- 404 page -->
    <div class="not-found-img">
        <img src="{% static 'images/404-page-not-found_new.jpg' %}"
             alt="404 not found ">
    </div>

    <div class="not-found">
        <br><br>
        <h1>
            Uh oh,<br> something broke.
        </h1>
        <h3>Error 404 - page not found.</h3>
        <!-- Link to Home Page -->
    </div>
    <div>
        <a href="{% url 'index' %}">
            <button>Return to MyBlog</button>
        </a>
    </div>

    <!-- End 404 page -->
{% endblock %}