.centered {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
.emoji {
    font-size: 7em;
    text-align: center;
    width: 12rem;
}
.unicorn {
    width: 50%;
    display: flex;
    margin-left: 250%;
}
.title {
    font-size: 3em;
    text-align: center;
    line-height: 0em;
    color: grey;
}
.text {
    text-align: center;
}