.btn2{
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--second-color);
    color: var(--bg-color);
}
.blogs-section{
    width: 100%;
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.blog-image{
    position: relative;
    min-width: 50%;
    width: 100%;
    min-height: 500px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}
.blog-overview{
    background-color: white;
    padding: 20px;
    margin: 10px 0 20px;
    line-height: 30px;
}
.heading{
    color: rgba(0, 0, 0, 0.5);
    font-size: 60px;
    text-align: center;
    position: relative;
    margin: 100px 0 20px;
}
.btn2.grey{
    margin: 0 10px;
}
.actionBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actionBtns svg {
    cursor: pointer;
}
.actionBtns .left svg {
    margin-right: 8px;
}
.likes {
    font-weight: 500;
    margin-top: 5px;
    font-size: 14px;
    cursor: default;
    color: #4d4d4f;
    text-align: left;
}

