{% load has_group %}
<!-- Nav -->
<nav>
    <div class="nav container">
        <div class="nav-button">
            {% if request.user|has_group:"Editors" or request.user.is_superuser %}
                 <!-- Logo -->
                <a href="{% url 'index' %}" class="logo">My<span>Blog</span></a>
                <a href="{% url 'logout user' %}" class="navbtn logout" >LogOut</a>
                <a href="{% url 'details user' pk=request.user.pk %}" class="navbtn profile">Profile</a>
                <a href="{% url 'add post' %}" class="navbtn add article">Add Article</a>

            {% elif request.user.is_authenticated %}
                <a href="{% url 'index' %}" class="logo">My<span>Blog</span></a>
                <a href="{% url 'logout user' %}" class="navbtn logout" >LogOut</a>
                <a href="{% url 'details user' pk=request.user.pk %}" class="navbtn profile">Profile</a>

            {% else %}
                 <!-- Logo -->
                <a href="{% url 'index' %}" class="logo">My<span>Blog</span></a>
                <a href="{% url 'register user' %}" class="navbtn register">Register</a>
                <a href="{% url 'login user' %}" class="navbtn login">LogIn</a>

            {% endif %}
        </div>
      </div>
</nav>